:root {
  --color-border: #331491;
  --header: #c6b1ff;
  --background: #f2ecfd; 
  --info1: #fad3db;
  --info2: #fdfad1;
  --info3: #d9ffd7;
  --info4: #d6edfc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Anton', sans-serif;
  text-decoration: none;
}

body {
  height: 100vh;
}

header {
  padding: 0 150px;
  height: 9%;
  background: var(--header);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-weight: normal;
  font-size: 28px;
  color: var(--color-border);
}

header h1 strong {
  color: #000000;
  border-bottom: 2px solid var(--color-border);
}

header h1 strong:hover {
  animation: name_sparkle 2s ease infinite;
}

header .nav-list {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  text-transform: uppercase;
}

.nav-list li a {
  padding: 0 15px;
  border-left: 1px solid var(--color-border);
  color: #f0f0f0;
}

.nav-list li:first-child a {
  border-left: none;
  color: var(--color-border);
}

main {
  height: 82%;
  padding: 80px;
  background: var(--background);
}

#container {
  width: 1300px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#photo {
  width: 300px;
  height: 300px;
  background: var(--header);
  padding: 20px;
  border-radius: 50%;
  z-index: 50;
}

.photo-container {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

img.profile-photo {
  width: 110%;
  transform: translate(-8%, -3%);
}

.info-container {
  width: 48%;
  height: 48%;
  position: absolute;
  border-radius: 20px;
  box-shadow: 0px 0px 7px 0px var(--color-border);
  transition: all .5s ease-in;
  transform-style: preserve-3d;
}

#profile {
  top: 0;
  left: 0;
}

#profile .info-front, #profile .info-back {
  background: var(--info1);
}

#character {
  top: 0;
  right: 0;
}

#character .info-front, #character .info-back {
  background: var(--info2);
}

#interest {
  bottom: 0;
  left: 0;
}

#interest .info-front, #interest .info-back {
  background: var(--info3);
}

#carrier {
  bottom: 0;
  right: 0;
}

#carrier .info-front, #carrier .info-back {
  background: var(--info4);
}

.info-container:hover {
  transform: rotateY(180deg);
}

.info-front, .info-back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 20px;
  backface-visibility: hidden;
}

.info-front {
  z-index: 2;
  transform: rotateY(0deg);
  font-size: 24px;
}

.info-back {
  flex-direction: column;
  align-items: flex-start;
  transform: rotateY(180deg);
  font-size: 20px;
}

footer {
  color: #ffffff;
  width: 100%;
  height: 9%;
  background: #000000;
}

#footer-container {
  max-width: 1300px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
}

.contact {
  display: flex;
  align-items: center;
}

.contact h3 {
  margin-right: 30px;
}

.contact-list {
  width: 50px;
  height: 50px;
  background-color: var(--background);
  font-size: 24px;
  border-radius: 50%;
  margin: 0 10px;
}

.contact-list a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;
}

#footer-container img {
  height: 120px;
}

@keyframes name_sparkle {
  0% {color: #000000;}
  25% {color: #682a2a;}
  50% {color: #10b41e;}
  75% {color: #ada12e;}
  100% {color: #331491;}
}
