* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Anton', sans-serif;
}

header {
  width: 100%;
  height: 400px;
  background-image: url(./img/back_img.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 65%;
  filter: grayscale(100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

header h2 {
  margin-top: 40px;
  padding: 3px;
  border: 1px solid #ffffff;
}

header h1 {
  font-size: 44px;
  margin: 30px 0 10px;
}

header p {
  font-size: 20px;
}

#container {
  height: auto;
  max-width: 1500px;
  padding: 40px 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.mainbox {
  border: 2px dotted #c4c4c4;
  padding: 30px;
  margin: 20px 10px;
}

.info {
  width: 57%;
  height: 800px;
}

.info img {
  width: 200px;
}

.hobby {
  width: 40%;
  height: 800px;
}

.carrier {
  width: 32%;
  height: 600px;
}

.dream {
  width: 65%;
  height: 600px;
}

footer {
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 40px 150px;
  height: 150px;
  background: #7d7d7d;
}
